.khan {
  padding: 105px 0 0;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 50px 0 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 36px 0 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 0;
}

.khan__book-container {
  margin: 68px 0 0;
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin: 0 48px 0 0;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.25s linear;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__buy-link:hover {
  opacity: 70%;
}
