.feynman {
    min-height: 890px;
    width: auto;
    position: relative;
    background-color: #f2f2f2;
    z-index: 0;
    text-align: center;
    padding: 100px 0 0;
  }
  
  .feynman__title {
    margin: 0 auto 0;
    width: 648px;
    text-align: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 0;
  }
  
  .feynman__subtitle {
    margin: 70px auto 0;
    width: auto;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 0;
  }
  
  .feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 48px;
    transition: opacity 0.25s linear;
  }

  .feynman__link:hover {
    opacity: 70%;
  }
  
  .feynman__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 867px;
    height: 637px;
    z-index: -1;
  }