.techniques {
    min-width: 80%;
    padding: 0 0 100px 0;
    margin: 0 auto;
    border: 1px solid red;
}

.cards {
    width: 920px;
    display: grid;
    grid-template-columns: 240px 240px 240px;
    column-gap: 100px;
    border: 1px solid red;
    margin: 0 auto;
}

.cards__item {
    margin: 60px 100px 0 0;
    width: 240px;
    border: 1px solid red;
    text-align: center;
}

.cards__image {
    padding: 0 40px;
    width: 160px;
    height: 160px;
    border: 1px solid red;
}

.cards__title {
    margin: 0;
    padding-top: 43px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid red;
}

.cards__description {
    margin: 0;
    padding-top: 16px;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    border: 1px solid red;
}