body {

}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  display: flex; 
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {

}

.logo_place_header {
  z-index: 4;
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  width: 730px;
  align-items: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding-left: 64px;
  display: flex;
}

.header__subtitle {
  z-index: 3;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  z-index: 1;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.content {
  position: relative;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  padding: 100px 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
}

h3 {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__brief {
  width: 175px;
  height: 100%;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__small-paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  border: 1px solid red;
  margin: 100px auto;
}

.section-title {
  border: 1px solid red;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.section-subtitle {
  border: 1px solid red;
  padding-top: 20px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: o;
}

.table {
  border: 1px solid red;
  width: 1100px;
  padding: 60px auto 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: stretch;
}

.table__cell {
  border: 1px solid red;
  width: 250px;
}

.table__heading {
  border: 1px solid red;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  border: 1px solid red;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.table__text_bank {
  border: 1px solid red;
  margin: 20px auto 0;
}