.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.25s linear;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  align-items: flex-start;
}

.khan__buy-link:hover {
  opacity: 70%;
}
